<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">welcome to chatbot</h1>
                <form [formGroup]="inicioForm" (ngSubmit)="onInicio()">
                    <!-- <form> -->
                    <label for="id">correo</label>
                    <div action="form-group">
                        <input type="string" id="email" class="form-control" formControlName="email">
                    </div>
                    <br>
                    <label for="password">contraseña</label>
                    <div action="form-group">
                        <input type="password" id="password" class="form-control" formControlName="password">
                    </div>
                    <br>
                    <div class="text-center">
                        <button class="btn btn-primary center-block">inicio</button>

                    </div>
                </form>
                <div class="form-group mt-3">
                    <p> create an account ?
                        <a [routerLink]="['/registro']">registro</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>